/* *** *** HEADER *** *** */

/* *** LOGO *** */

/* full logo container */
.logo-image {
	display: flex;
	width: 100%;
	margin: auto;
	justify-content: center;
	padding:25px 0 11px 0;
}

/* image logo */
.logo-image img {
	width: 100px;
}

object {
	width: 160px ;
	
}