/* *** *** RESTO MAIN PAGE *** *** */

/* Main Page */
main{
    all: unset;
}


/* Main Content */
.main-container {
    background-color: var(--lightgray);
}

/* Main Wrapper */
.resto-wrapper {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content:center;
    box-sizing: border-box;
    height: fit-content;
    background-color: var(--white);
    border-radius: 40px 40px 0 0;
    top:-30px;
    background-color: var(--lightgray);
}

/*resto name wrapper */
.r-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
}

/* Resto Name */
.resto-name {
    display: flex;
    width: 80%;
    box-sizing: border-box;
    font-family: var(--shrik);
    font-size: 27px;
    font-weight: 500;
    box-sizing: border-box;
    text-align: left;
    padding: 35px 0 35px 20px;
}    

/* Resto Heart Icon Position */
.resto-heart {
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    left: 8px;
    top:30px;
}

/* Resto Slider Animation */
.resto-slides {
    box-sizing: border-box;
    position: relative;
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: 1;
    animation-timing-function: ease;
 }
  
@keyframes slidein {
    from {
        margin-top:100%;  
        width:100%
    }

    to {
        margin-top:0%;
        width:100%;
    }
}

/* Food Menu CAT */
.food-menu {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    font-family: var(--robo);
    width:fit-content;
    border-radius: 16px;
    margin: auto;
    box-sizing: border-box;
    width: 350px;
    font-weight: 500;
}

/* Food Menu */
.food-menu .food-cat {
    font-size: 16px;
    font-weight: 400;
    width:42px ;
    padding:0 0 4px 0;
    margin-left: 8px;
    border-bottom: 3px solid var(--cyan);
    margin-bottom: 15px; 
}

/* food categories 2,3 padding-top */
.plats {margin-top: 20px;}
.dessert {margin-top: 30px;}

/* Menu Container */
.menu-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    font-family: var(--robo);
    width:fit-content;
    border-radius: 16px;
    margin: auto;
    box-shadow: var(--box-shadow-light);
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 18px;
    width: 350px;
}

/* Menu Wrapper */
.menu-wrapper {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 70px; 
    background-color: var(--white);
    border-radius: 16px 16px 16px 16px;
}

/* Menu Name */
.menu-name {
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
    height:fit-content;
    box-sizing: border-box;
    padding: 13px 0 0 10px;
    height: 100%;
    font-size: 18px;
}

/* Menu Details */
.menu-details { 
    position:absolute;
    white-space:nowrap; 
    overflow:hidden;
    text-overflow:ellipsis;
    box-sizing: border-box;
    padding: 39px 10px 0 10px;  
    height: 100%;
    font-size: 15px;
    font-weight: 400;
}

/* Menu Details Wrapper --> */
.menu-textwrap {
    position: absolute;
    width: 85%;
    left: 0%;
    height:100%;
    box-sizing: border-box;
    transition: 600ms;
    left:2px;
}

/* --> Menu Details Wrapper on Hover */
.menu-wrapper:hover .menu-textwrap {  
    position: absolute;
    width:65%;
    cursor: pointer;  
}    

/* Slide Block */
.sm-slide {
    display: flex;
    position: relative;
    left: 86.5%;
    transition: 600ms;
    box-sizing: border-box;
    border-radius: 0 16px 16px 0px;
}

/* Slide Price */
.sm-slide .sm-price {   
    width: 58px;
    padding: 40px 0 0 0;
    font-size: 15px;
    font-weight: 700;
}
    
/* Slide Validate Icon */
.sm-slide .sm-icon  {
    width: 70px;
    padding: 24px 0 0 20px;
    background-color: var(--cyan);
    font-size: 21px;
    color: var(--white);

}

/* Slide on Hover */
.menu-wrapper:hover .sm-slide {  
    transition: 900ms;
    left: 66%;
    cursor: pointer;  
}

/* Validate icon rotate */
.menu-wrapper:hover .sm-icon i {
    transform: rotate(360deg);
    transition: 500ms all linear;
}

/* Resolution <= 320px  */
@media screen and ( max-width:320px ) {

    .back-arrow {
        margin-left:20px;
    }
    
    /* Food Menu Wrapper */
    .food-menu { 
        width: 90% !important; 
    }

    /* Resto Name */
    .resto-name {
        width: 82%;
        font-size: 20px; 
        padding: 35px 0 35px 18px;
    }

    .sm-price {
        margin-left: 20px;
    }

    /* Slide Block */
    .sm-slide {
        transition: 500ms;
        right:100%;
        left:80%;
    }

    /* Menu Details Wrapper --> */
    .menu-details {
        margin-right: 30px;
    }

    /* Slide on Hover */
    .menu-wrapper:hover .sm-slide {  
        transition: 800ms;
        left: 53%;
    }

    /* Slide Validate Icon */
    .sm-slide .sm-icon  {
        padding: 25px 0 0 18px;
    }
}

/* Tablette,  PC/Notebook  */
@media screen and (min-width:569px) and (max-width:996px ) {
   
    /* Resto Name */
    .resto-name {
        width: 90%; 
        padding: 35px 0 35px 40px;
    }

    /* Menu Container */
    .menu-container {
        font-weight: 500;
        width:fit-content;
        font-size: 18px;
        width: 600px;
    }

    /* Food Menu Wrapper */
    .food-menu { 
        width: 600px;
    }

    /* Slide Block */
    .sm-slide {
        transition: 500ms;
        right:100%;
        left:93%;
    }

    /* Slide on Hover */
    .menu-wrapper:hover .sm-slide {  
        transition: 800ms;
        left: 80%;
    }
}


/*  PC Resolution 1024px */
@media screen and (min-width:997px) and (max-width: 1300px ) {

    /* Resto Name */
    .resto-name {
        width: 94%; 
        padding: 35px 0 35px 22px;
    }   

    /* Full Categories Container */
    .resto-menu {
        /*border: 2px solid red;*/
        width: 100%;
        position: relative;
        display:flex;
        height: 20%;
        margin: auto;
        box-sizing: border-box;
        background-color: transparent;
        padding:0 10px 0 10px;
    }

    /* Category Container */
    .resto-module {
        /*border: 2px solid red;*/
        width: 100%;
        margin: auto;
        height: fit-content;
        box-sizing: border-box;
        margin:0 10px 0 10px;
        background-color: transparent;
    }

    /* reset margin */
    .entree, .plats, .dessert { margin-top: 0; }

    /* Food Menu Wrapper */
    .food-menu { 
        width: 310px;
    }

    /* Slide on Hover */
    .menu-wrapper:hover .sm-slide { left: 190px; }
}


/* HD Resolution */
@media screen and (min-width:1301px) {

    /* reset margin */
    .entree, .plats, .dessert { margin-top: 0; }

    /* Resto Name */
    .resto-name {
        width: 100%; 
        padding: 35px 0 35px 40px;
    }    
    
    /* Full Categories Container */
    .resto-menu {
        /*border: 2px solid red;*/
        width: 100%;
        position: relative;
        display:flex;
        height: 20%;
        margin: auto;
        box-sizing: border-box;
        background-color: transparent;
        padding:0 10px 0 10px;
    }

    /* Category Container */
    .resto-module {
        /*border: 2px solid red;*/
        width: 100%;
        margin: auto;
        height: fit-content;
        box-sizing: border-box;
        margin:0 10px 0 10px;
        background-color: transparent;
    }

    /* Resto Heart Icon Position */
    .resto-heart {
        position: relative;
        display: flex;
        width: fit-content;
        height: fit-content;
        left: 8px;
        top:30px;
    }
    
   /* Resto Name */
   .resto-name {
        width: 96%; 
        padding: 35px 0 35px 40px;
    }

    /* Menu Container */
    .menu-container {
        font-weight: 500;
        width:fit-content;
        font-size: 18px;
        width: 600px;
    }

    /* Food Menu Wrapper */
    .food-menu { 
        width: 410px;
    }

    /* Slide Block */
    .sm-slide {
        left: 90%;
    }

    /* Slide Price */
    .sm-slide .sm-price {   
        width: 50px;
    }
    /* Slide on Hover */
    .menu-wrapper:hover .sm-slide {  
        left: 73%;
    }
}