/* *** *** RESTO BOTTOM *** *** */

.button.page {
        display: flex;
        width: 100%;
        margin: auto !important;
        box-sizing: border-box;
        width:fit-content;
        padding: 3px 0 58px 0 !important;
}

button.page {
    border: 0;
    font-family: var(--robo);
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    width: 220px;
    color: var(--white);
    background: var(--gradient);
    box-shadow: var(--box-shadow);
    width:fit-content ;
    padding: 5px 50px 5px 50px;
    color: var(--white);
    border-radius: 30px 30px 30px 30px;
    cursor: pointer;
} 

button:hover {
    box-shadow: var(--box-shadow-hover);
    opacity: 0.9;
} 
