/* *** *** RESTO TOP *** *** */

/* logo image wrapper */
.logo-image-resto {
    display: flex;
	width: 100%;
	margin: auto;
	justify-content: center;
	padding:25px 0 5px 0;
    position: relative;
    left:-13px;
    object-fit: cover;
    
}

/* image logo */
.logo-image-resto img {
	width: 100px;
}

/* back icon */
.back-arrow i {
    position: relative;
    line-height: 30px;
    font-size: 20px;
    left: -62px;
    top: -8px;
}

/* resto image wrapper */
.resto-top {
    position: relative;
    box-sizing: border-box;
}

/* resto image */
.resto-image img {
    display: flex;
    margin: auto;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    object-fit: cover;
}
