/* @import url("normalize.css" ); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
@import url("global.css");
@import url("common.css");
@import url("header.css");
@import url("top.css");
@import url("main.css");
@import url("footer.css");

